section {
  display: flex;
  width: 100%;
  justify-content: center;

  .signin-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
  }

  .form-header {

    margin-bottom: 1rem;
    display: block;

    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--color-primary);
    }

    h2 {
      font-size: 1rem;
      font-weight: 600;
      transform: uppercase;
    }

    h3 {
      font-size: 0.8rem;
      font-weight: 400;
      color: var(--color-secondary);
    }
  }
}

img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.form-grid {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  align-items: start;
  padding: 5rem 2.5rem;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
