<div class="router-container">
  <header class="header container">
    <p-toast></p-toast>
    <app-header
      [breadcrumbs]="manager.breadcrumbs"
      [title]="manager.title"
      [subtitle]="manager.subtitle"
      [buttonLabel]="manager.buttonText"
      [subtitleButton]="manager.subtitleButton"
      [onClick]="onClickCreateTask"
    ></app-header>
  </header>

  <section class="section">
    <div *ngIf="loading" class="loading-overlay">
      <p-progressSpinner></p-progressSpinner>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form [formGroup]="taskForm" class="filter-container" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="filter-grid">
          <app-input
            label="Número"
            placeholder="Busque pelo número da tarefa"
            formControlName="id"
            type="number"
          ></app-input>
          <app-input
            label="Título"
            placeholder="Busque por um título"
            formControlName="title"
          ></app-input>
          <div class="actions-grid-container">
            <div class="select-grid-2">
              <label for="date">Responsável</label>
              <p-select
              id="assignee"
              optionLabel="Responsável"
              optionValue="value"
              formControlName="assignee"
              [options]="assignees"
              optionLabel="name"
              placeholder="Selecione um responsável"
            />
            <label for="date">Status</label>
            <p-select
            id="assignee"
            optionLabel="Status"
            optionValue="value"
            formControlName="status"
            [options]="[
            { value: 'todos', name: 'Todos' },
            { value: 'IN_PROGRESS', name: 'Pendente' },
            { value: 'COMPLETED', name: 'Concluído' }
          ]"
            optionLabel="name"
            placeholder="Selecione um responsável"
          />
            </div>
            <button class="btn-clear-filter" type="button" (click)="loadTasks()">
      Limpar filtros
            </button>
            <button class="btn-primary" type="submit">
              <i class="pi pi-search"></i>
              {{ loading ? 'Buscando...' : 'Buscar tarefas' }}
            </button>
          </div>
        </div>
      </div>
    </form>

    <div style="width: 100%; height: 75%">
      <app-table [data]="tasks" (loadTasks)="loadTasks()"></app-table>
    </div>
  </section>

</div>
