<app-dialog
  [visible]="
    selectedTask != null && !editMode && !deleteDialog && !checkTaskDialog
  "
  [task]="selectedTask"
  [header]="selectedTask?.title"
  [edit]="editMode"
  style="height: 100vh"
  (closeDialog)="closeDialog()"
/>

<app-dialog
  [visible]="
    selectedTask != null && editMode && !deleteDialog && !checkTaskDialog
  "
  [task]="selectedTask"
  [edit]="editMode"
  [header]="'Editar tarefa'"
  style="height: 100vh"
  (closeDialog)="closeDialog()"
/>

<p-dialog
  header="Excluir tarefa"
  closable="false"
  [modal]="true"
  [(visible)]="deleteDialog"
  [style]="{ width: '35rem' }"
>
  <p>
    Tem certeza que deseja excluir a tarefa
    <span style="font-weight: 600; color: var(--color-primary)">{{
      selectedTask?.title
    }}</span
    >?
  </p>

  <div class="button-container">
    <p-button
      label="Excluir"
      severity="danger"
      (click)="deleteTask(selectedTask!)"
    ></p-button>
    <p-button
      label="Cancelar"
      severity="secondary"
      (click)="closeDeleteDialog()"
    ></p-button>
  </div>
</p-dialog>

<p-dialog
  header="Concluir tarefa"
  closable="false"
  [modal]="true"
  [(visible)]="checkTaskDialog"
  [style]="{ width: '35rem' }"
>
  <p>
    Tem certeza que deseja concluir a tarefa
    <span style="font-weight: 600; color: var(--color-primary)">{{
      selectedTask?.title
    }}</span
    >?
  </p>

  <div class="button-container">
    <p-button
      label="Confirmar"
      severity="success"
      (click)="checkTask(selectedTask!)"
    ></p-button>
    <p-button
      label="Cancelar"
      severity="secondary"
      (click)="closeDeleteDialog()"
    ></p-button>
  </div>
</p-dialog>

<div class="content container">
  <div class="grid-2">
    <p>
      Foram encontradas
      <span style="color: var(--color-primary)"
        >{{ data.length }} tarefas
      </span>
    </p>
    <app-caption />
  </div>

  <p-table
    #dt2
    [value]="data"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    (onSort)="customSort($event)"
    [customSort]="true"
    [globalFilterFields]="[
      'number',
      'title',
      'assignee',
      'priority',
      'status',
      'deadline'
    ]"
    [tableStyle]="{ width: '100%' }"
  >
    <ng-template #header>
      <tr>
        <th
          [pSortableColumn]="'id'"
          style="width: 12%; color: var(--color-primary)"
        >
          Número
        </th>
        <th
          [pSortableColumn]="'title'"
          style="width: 22%; align-items: center; color: var(--color-primary)"
        >
          Título
        </th>
        <th
          [pSortableColumn]="'name'"
          [pSortableColumn]="'assignee.name'"
          style="width: 18%; color: var(--color-primary)"
        >
          Responsável
        </th>
        <th
          [pSortableColumn]="'priority'"
          style="width: 12%; color: var(--color-primary)"
        >
          Prioridade
        </th>
        <th
          [pSortableColumn]="'priority'"
          style="width: 12%; color: var(--color-primary)"
        >
          Status
        </th>
        <th
          [pSortableColumn]="'deadline'"
          style="width: 12%; color: var(--color-primary)"
        >
          Data limite
        </th>
        <th style="width: 15%; color: var(--color-primary)">Ações</th>
      </tr>
    </ng-template>
    <ng-template #body let-task>
      <tr>
        <td>
          {{ task.id }}
        </td>
        <td>
          {{ task.title }}
        </td>
        <td>
          {{ task.assignee.name }}
        </td>
        <td>
          {{ task.priority | priorityTranslate }}
        </td>
        <td>
          {{ task.status | statusTranslate }}
        </td>
        <td>
          {{ task.deadline | date : "dd/MM/yyyy" }}
        </td>
        <td>
          <div
            style="
              display: flex;
              justify-content: space-around;
              font-size: 0.8rem;
              color: var(--color-primary);
            "
          >
            <app-icon-button icon="pi pi-eye" (click)="showTaskDetails(task)" />
            <app-icon-button
              icon="pi pi-pen-to-square"
              (click)="editTaskDetails(task)"
            />
            <app-icon-button
              icon="pi pi-trash"
              (click)="showDeleteTaskPopUp(task)"
            />

            @if (task.status == 'IN_PROGRESS') {
            <app-icon-button icon="pi pi-check" (click)="showCheckTask(task)" />
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="6">Nenhuma tarefa encontrada.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
