<section>
  <img src="/assets/image.png" alt="Hero Image" />

  <div class="signin-container">
    <p-toast></p-toast>
    <form [formGroup]="registerForm" class="form-grid">
      <div class="form-header">
        <h1>Registre-se</h1>
        <div class="form-header-content">
          <h2>Faça uma nova conta</h2>
          <h3>DIGITE SEUS DADOS ABAIXO</h3>
        </div>
      </div>

      <div class="form-inputs-container">
        <div class="input"> <label for="name">Nome</label>
          <input class="text-input" variant="filled" pInputText id="name" formControlName="name" autocomplete="off" />
        </div>
        <div class="input"> <label for="login">E-mail</label>
          <input class="text-input" variant="filled" pInputText id="login" formControlName="login" autocomplete="off" />
        </div>
        <div class="input"> <label for="password">Senha</label>
          <input class="text-input" variant="filled" pInputText id="password" type="password" formControlName="password"
            autocomplete="off" />
        </div>
      </div>

      <button class="btn-primary" (click)="onSignUp()">
        Registrar-se
      </button>

      <div class="footer">Já possui conta? <a routerLink="">Faça login</a></div>
    </form>
  </div>
</section>
