<main>
  <nav class="nav">

  </nav>

  <header class="header">
    <p>Página Inicial > Tarefas</p>
    <div class="header-content">
      <div class="header-title">
        <h1>Tarefas</h1>
        <h2>Revise ou gerencie as tarefas cadastradas.</h2>
      </div>
      <div>
        <button>Adicionar Tarefa</button>
      </div>
    </div>
  </header>

  <section class="section">
    <div class="filter-grid">
      <div>Número</div>
      <input type="text" placeholder="Número da tarefa">

      <div>Título</div>
      <div>Coluna 2, Linha 3</div>


      <div class="grid-2">
        <div>
          <p>Responsável</p>
          <select>
            <option value="todos">Todos</option>
            <option value="pendente">Pendente</option>
            <option value="concluído">Concluído</option>
          </select>
        </div>

        <div>
          <p>Situação</p>
          <select>
            <option value="todos">Todos</option>
            <option value="pendente">Pendente</option>
            <option value="concluído">Concluído</option>
          </select>
        </div>
      </div>
    </div>


    <div class="content">
      <div class="grid-2">
        <p>Foram encontradas 20 tarefas</p>
        <div class="legendas">
          <p> Visualizar</p>
          <p>Editar</p>
          <p>Excluir</p>
        </div>
      </div>

      <div>table</div>
    </div>


  </section>


</main>