<form [formGroup]="taskForm" class="create-task-container">
  <p-toast></p-toast>
  <div class="filter-grid">
    <div>
      <label for="title">Título</label>
      <input
        class="text-input"
        variant="filled"
        pInputText
        id="title"
        formControlName="title"
        autocomplete="off"
      />
    </div>

    <div>
      <label for="description">Descrição da tarefa</label>
      <textarea
        class="text-input"
        pTextarea
        id="description"
        rows="5"
        cols="30"
        style="resize: none"
        formControlName="description"
      ></textarea>
    </div>

    <p-floatlabel>
      <label for="date">Data limite</label>
      <p-datepicker
        inputId="date"
        showIcon
        iconDisplay="input"
        formControlName="deadline"
        dateFormat="dd/mm/yy"
        [showTime]="false"
      ></p-datepicker>
    </p-floatlabel>

    <p-select
      id="assignee"
      optionLabel="name"
      optionValue="value"
      formControlName="assignee"
      [options]="fetchUsers"
      optionLabel="name"
      placeholder="Selecione um responsável"
    />

    <p-select
      optionLabel="name"
      optionValue="value"
      formControlName="priority"
      [options]="[
        { name: 'Baixa', value: 'LOW' },
        { name: 'Média', value: 'MEDIUM' },
        { name: 'Alta', value: 'HIGH' }
      ]"
      placeholder="Selecione a prioridade"
    />

    <p-select
      optionLabel="name"
      optionValue="value"
      formControlName="status"
      [options]="[
        { name: 'Em andamento', value: 'IN_PROGRESS',  },
        { name: 'Concluído', value: 'COMPLETED', }
      ]"
      placeholder="Selecione um status"
    />

    <button class="btn-primary" (click)="onClick()">
      <i class="pi pi-plus"></i>
      Enviar
    </button>
  </div>
</form>
