:host {
  --p-inputtext-hover-border-color: var(--color-primary);
  --p-select-hover-border-color: var(--color-primary);
  --p-textarea-hover-border-color: var(--color-primary);
  --p-inputtext-focus-ring-shadow: 0 0 0 0.2rem rgba(63, 63, 63, 0.171);
  --p-textarea-focus-ring-shadow: 0 0 0 0.2rem  rgba(63, 63, 63, 0.171);
  --p-select-focus-ring-shadow: 0 0 0 0.2rem  rgba(63, 63, 63, 0.171);
  --p-inputtext-focus-border-color: var(--color-primary-light);
  --p-select-focus-border-color: var(--color-primary-light);
  --p-textarea-focus-border-color: var(--color-primary-light);
}

section {
  display: flex;
  justify-content: center;
}

.back-button {
  a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--p-select-focus-ring-shadow);
    }
  }

}

.create-task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  margin: 2rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  max-height: 15%;
  padding: 1rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-container {
  width: 100%;
  height: 80%;
}
