@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Nunito", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --color-text: #333;
  --color-background: #fff;

  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-text);
  background-color: var(--color-background);
}

body, div, main, section, article, aside, nav, header, footer, address, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}