.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.input-container input {
  display: flex;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
