
  <header class="header container">
    @if (currentPage === 'app-task-manager') {
    <app-header
    [breadcrumbs]="headerPages.manager.breadcrumbs"
    [title]="headerPages.manager.title"
    [subtitle]="headerPages.manager.subtitle"
    [buttonLabel]="headerPages.manager.buttonText"
    [subtitleButton]="headerPages.manager.subtitleButton"></app-header>
    } @else {
      <app-header
      [breadcrumbs]="headerPages.create.breadcrumbs"
      [title]="headerPages.create.title"
      [subtitle]="headerPages.create.subtitle"
      [buttonLabel]="headerPages.create.buttonText"
      [subtitleButton]="headerPages.create.subtitleButton"></app-header>
    }
  </header>

  @if (currentPage === 'app-task-manager') {
    <div class="flex-container">
      <app-task-manager-page />
    </div>

  } @else {
    <div class="flex-container">
      <app-root></app-root>
    </div>
  }
